div#main-content.container {
    max-width: 95%;
    padding-bottom: 20px;
}

.navbar {
    padding-bottom: 0;
}

.navbar div.container{
	margin: 0;
}

.navbar-brand {
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 10px 20px;
}

li {
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

li:hover {
    background-color: rgb(135, 135, 135) ;
}

.page-name {
    margin-top: 35px;
    margin-bottom: 20px; 
}

.content-container {
    padding: 20px 20px;
    margin-top: 20px;
    background-color: rgb(150, 150, 150);
}


  @media (min-width: 1200px) {
    
  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    
  }
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    
  
  }
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
    .navbar-brand {
        font-size: 30px;
    }
  }
  
  
  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
  @media (max-width: 575px) {
    .content-container {
        margin: 10px 20px;
    }

    .navbar-brand {
        font-size: 25px;
    }
  }
  